.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #5b5173;
  border: 2px solid #130647;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #032364;
  border-color: #031d64;
}